<div class="team">
    <h2>Our team</h2>
    <div class="team-member">
        <div class="team-member-image">
            <img src="images/jimi.jpg" alt="Jimi Hendrix">
        </div>
        <div class="team-member-info">
            <h3>Jimi Hendrix</h3>
            <h4>Founder</h4>
            <p> American rock guitarist, singer, and composer who fused American traditions of blues, jazz, rock, and soul with techniques of British avant-garde rock to redefine the electric guitar in his own image.</p>
        </div>
    </div>
    <div class="team-member">
        <div class="team-member-image">
            <img src="images/clapton.jpg" alt="Eric Clapton">
        </div>
        <div class="team-member-info">
            <h3>Eric Clapton</h3>
            <h4>Co-Founder</h4>
            <p> British rock musician who was a highly influential guitarist in the late 1960s and early ’70s and later became a major singer-songwriter.</p>
        </div>
    </div>
    <div class="team-member">
        <div class="team-member-image">
            <img src="images/bb-king.jpg" alt="B.B. King">
        </div>
        <div class="team-member-info">
            <h3>B.B. King</h3>
            <h4>Vice president</h4>
            <p> American guitarist and singer who was a principal figure in the development of blues and from whose style leading popular musicians drew inspiration.</p>
        </div>
    </div>
    <div class="team-member">
        <div class="team-member-image">
            <img src="images/zappa.jpg" alt="Frank Zappa">
        </div>
        <div class="team-member-info">
            <h3>Frank Zappa</h3>
            <h4> Manager</h4>
            <p>  American composer, guitarist, and satirist of the 1960s, ’70s, and ’80s..</p>
        </div>
    </div>


</div>